/*The Google Fonts import link*/
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');

/*I added the font above to the entire body for now, and added a Tuscany colored background to the entire page*/
body{
  margin: 0px;
  font-family: 'Sawarabi Mincho', serif;
  background: #BC958A;
}

/*I played around with margins here, and ultimately settled on some space around the edges*/
header{
  margin: 12px;
  padding: 24px;
  background: #4a1942;
  color: #eaeaea;
  
  
}

h1{
  font-size: 48px;
}

/*These are empty for now, but I left them here just in case I decided to style later*/
h2 {
  
}

h3{
 
}

h4{
  font-size: 15px;
}

h5{
  font-size: 12px;
}

/*This was my solution to get the image where I wanted it, by using the float element*/
img {
  float: right;
   border-radius: 25%;
  padding: 5px
}

hr {
  margin: 40px;
  border-width: 1px;
  border-color: #4a1942;
}

section{
  font-size: 15px;
}
main{
  line-height: 30px;
  margin: 5px;
  padding: 20px;
  color: #322e18;
}

footer{
  margin: 12px;
  padding: 2px 0px 2px;
  background: #2e1c2b;
  color: #eaeaea;
  
}

footer div{
  margin: 15px
}
.right-text{
  text-align: right;
}
.center-text{
  text-align: center;
}

/*Here The links are styled using parts of my color pallette, I moved it down in between submissions so it is most important, and added a darker brown for when it's already been visited*/
a:link {color: #BC958A;}
a:visited {color: #9B6859;}
a:hover {color: #eaeaea;}
a:active {color: #322E18;}
